@import"https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap";
@font-face {
    font-family: grinched;
    src: url(/assets/GrinchedRegular-ff1ffcba.ttf)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html {
    scroll-behavior: smooth
}